* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
ul>li {
    list-style: none;
    }
ul {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 16px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.header {
   padding-top: 16px;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   border-bottom: solid 2px white;
}
.container {
   max-width: 1130px;
   padding: 0px 5px;
   margin: 0 auto;
}
.header__container {
   max-width: 1370px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 20px;
   text-align: center;
}
.logo {
    max-width: 187px;
    min-width: 81px;
}
.logo__pic {
}
.nav {
}
.nav__link {
     transition: opacity 0.3s;
}
.nav__list {
    display: flex;
    column-gap: 36px;

}
.nav__item {
   border-bottom: 2px solid transparent;
  
}
.nav__item.active {
    border-bottom-color: white;
}
.nav__link:hover {
opacity: 0.8;
}
.nav__link {
font-size: 16px;
line-height: 1.13;
color: white;
}
.address {
    display: flex;
    align-items: center;
    column-gap: 52px;
    font-style: normal;
}
.tel {
    color: white;
}
.location {
    color: white;
}
.location::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 2px;
    background:url(../img/content/указатель.svg) bottom center/contain no-repeat;
}
@media (max-width: 960px) {
     .container {
        max-width: 898px;
        padding: 0px 5px;
        margin: 0 auto;
     }
     .logo {
         max-width: 181px;
     }
     .location {
         display: none;
     }
}
.main {
    color: white;
}
.hero {
  height: 100vh;
  min-height: 650px;
  background: url(../img/bg/hero-bg.png) no-repeat center/cover;
  padding-top:272px ;
  display: flex;
  padding-bottom: 50px;
}
.hero__main {
    flex: 1;
}
.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.17;
    font-family: 'Roboto';
    font-style: normal;
}
.hero__title {
    margin-bottom: 17px;
}
.hero__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;

}
.hero__call-to-action{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 164px;
}
.red__text {
    color: rgba(237, 113, 115, 1);
}
.advantage {
    border-radius: 4px;
    text-align: center;
    padding: 16px 20px;
}
.hero__advantage {
 flex: 0 1 276px;
}
.advantage_theme_transparent{
     border: 2px solid white;
     color: white;
}
.advantage__text {
    color: white;
}
.advantages {
   display: flex;
   column-gap: 30px;
   padding: 0px 17px;
   justify-content: space-between;
   min-height: 120px;

}
.hero__btns {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
}
.btn {
    border-radius: 4px;
    border: 2px white solid;
    background-color: rgba(240, 248, 255, 0);
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    line-height: 1.13px;
    color: white;
    padding: 12px 17px;
}

